# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Data outputs
data/silver/
data/gold/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Raw downloaded archives
data/raw/*.zip